@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    


}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
    
}

.header{
    border: 1px solid black;
}

.header-content {
    max-width: 1280px;
    margin: 0.5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;

}

.logo-icon {
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text {
    font-size: 2rem;
}

.nav {
    display: none;
    gap: 0.800rem;
}

@media screen and (min-width:768px) {
    .nav {
        display: flex;
       
    }
}

.nav-link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s ease-in-out;
}

.nav-link:hover {
    color: var(--link-color);
}
.nav-link:focus {
    color:red;
}


.contact-button {
    display: none;
    color: var(--background-color);
    border-radius: 0.357rem;
    background-color: var(--primary-color);
    transition: all 0.1s ease;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.contact-button:hover {
    background-color: #5254f8;
}
.contact-button:active {
    background-color: rgb(20, 98, 131);
}

@media (min-width:768px) {
    .contact-button {
        display: block;

    }
}



.menu-button {
    display: none;
    border: none;
    border-radius:0.375rem;
    font-size: 1rem;
    font-weight: 600;
    



}

@media screen and (max-width:768px) {
    .menu-button {
        display: block;
    }
   
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}









