@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    


}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
    
}

.header{
    border: 1px solid black;
}

.header-content {
    max-width: 1280px;
    margin: 0.5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;

}

.logo-icon {
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text {
    font-size: 2rem;
}

.nav {
    display: none;
    gap: 0.800rem;
}

@media screen and (min-width:768px) {
    .nav {
        display: flex;
       
    }
}

.nav-link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s ease-in-out;
}

.nav-link:hover {
    color: var(--link-color);
}
.nav-link:focus {
    color:red;
}


.contact-button {
    display: none;
    color: var(--background-color);
    border-radius: 0.357rem;
    background-color: var(--primary-color);
    transition: all 0.1s ease;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.contact-button:hover {
    background-color: #5254f8;
}
.contact-button:active {
    background-color: rgb(20, 98, 131);
}

@media (min-width:768px) {
    .contact-button {
        display: block;

    }
}



.menu-button {
    display: none;
    border: none;
    border-radius:0.375rem;
    font-size: 1rem;
    font-weight: 600;
    



}

@media screen and (max-width:768px) {
    .menu-button {
        display: block;
    }
   
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}


.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

/* @media (min-width:768px) {
    .main-section{
         flex-direction:row;
         
    }
} */
.content-left {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.section-label {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);

}

.section-title {
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);

}

.section-description {
    color: var(--gray);
    font-size: 1.12rem;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1.2rem;
}

.start-button {
    color: var(--background-color);
    border-radius: 0.357rem;
    background-color: var(--primary-color);
    transition: all 0.1s ease;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button {
    color: var(--background-color);
    border-radius: 0.357rem;
    background-color: var(--dark-gray);
    transition: all 0.1s ease;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.start-button:hover {
    background-color: #5254f8;
}

.tour-button:hover {
    background-color: var(--gray);
}



.content-right {
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-container {
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 57vh;
}

.section-image {
    height: 100%;
    width: 100%;
}

@media (min-width:768px) {
    .main-section {
        flex-direction: row;

    }

    .content-left {
        max-width: 50%;
        text-align: left;


    }

    .section-title {
        padding-left: 0;
        font-size: 3.6rem;
    }

    .button-group {
        justify-content: start;
        padding-left: 0;
    }

    .section-label {
        font-size: 1rem;
    }

    .image-container {
        height: 60vh;
    }

    .section-description {
        font-size: 1.2rem;
        color: var(--gray);
        width: 78%;
    }
}

.company-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    animation: slideFromLeft 1s ease forwards;



}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;

}

@media (min-width:640px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 1rem;
        gap: 1rem;
    }

    .company-title {
        font-size: 2.4rem;
        font-weight: bold;
    }
}

.company-logo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;

}

.svg-img {
    height: 1.56rem;
    /* overflow: hidden; */
}

.logo-txt {
    font-size: 1rem;
}

.feature-container {
    /* width: 100vw;
    height: 20rem; */
    background-color: var(--light-gray);
    padding: 2rem 0;
    text-align: center;
}

.feture-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title {
    font-size: 2.2rem;
    /* color: var(); */
    font-weight: bold;

}

.main-description {
    color: var(--gray);
    font-size: 1.1rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
}

.icon-container {
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.feature-svg {
    width: 1.5rem;
    height: 1.5rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;


}

.feature-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.feature-title {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-discription {
    color: white;
}



.feature-card:nth-child(1) {
    background-color: #4a90e2;
    animation: slideL 3s ease forwards;
    opacity: 0;
   
}


.feature-card:nth-child(2) {
    background-color: #ff6289;
    animation: slideR 3s ease forwards;
    opacity: 0;
}

.feature-card:nth-child(3) {
    background-color: #fcbf58;
    animation: slideL 3s ease forwards;
    opacity: 0;
}

.feature-card:nth-child(4) {
    background-color: #44bfc3;
    animation: slideR 3s ease forwards;
    opacity: 0;
}

.feature-card:nth-child(5) {
    background-color: #77b05d;
    animation: slideL 3s ease forwards;
    opacity: 0;
}

.feature-card:nth-child(6) {
    background-color: #7d78b1;
    animation: slideR 3s ease forwards;
    opacity: 0;
}

@media (max-width:768px) {
    .feature-grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
    }
}

@keyframes slideL {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideR {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} 

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
   
    gap: 2rem;
}
.testimonial-title{

    font-size: 1.875rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 2rem;
    
    
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(180, 168, 168);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
    overflow: hidden;
} 
.testimonial-text{
    font-size:0.875rem ;
    color:#555 ;

}
.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}
.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}
.newsletter-container{
    background-color: var(--background-color);
    max-width: 1280px;
    height: 45vh;
    margin: auto;
    
}
.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    flex-direction: row;
    height: 100%;
    border-radius: 8px;
    overflow:hidden;
    
    

}
.news-left{
    height: 100%;
    width: 50%;
    position: relative;
    display: none;
     
}
.news-left img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  
}
@media (min-width:640px) {
 .news-left{
    display: block;
 }
 .newsletter-container{
    padding: 2rem;

 }
}
.news-right{
    display: flex;
    padding: 0.5rem;
    flex-direction:column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;

}
.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--primary-color) ;

}
.news-info{
    padding:0  3rem;
}
.news-desc{
    text-align: left;
    color: #777;
}
.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: 1rem;
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news-email:focus{
    border: 1px solid #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius:0.25rem;
    padding: 0.5rem 1rem;
}
.news-send-button:hover{
    background-color: var(--link-color);
    box-shadow: 0  4px 8px rgba(0, 0, 0, 0.3);
}
.privacy-policy{

    font-size:0.76rem ;
    padding:0 3rem;
    color: #777;
}
.news-link{
    text-decoration: underline;
    color: #4a90e2;
}
 @media (min-width:640px) {
    .news-right{
        width: 50%;
       
    }
    .news-title{
         font-size: 2.5rem;
    }
 }
    







