
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
     background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
   
    /* background: linear-gradient(to top, #feada6 0%, #f5efef 100%); */
}
.navcontainer{
    width:100vw;
    /* background-color: rgb(109, 109, 206); */
    /* background: linear-gradient(45deg, rgb(142, 197, 252) 0%, rgb(141, 211, 255) 25%, rgb(161, 216, 255) 50%, rgb(193, 210, 255) 75%, rgb(224, 195, 255) 100%); */
    background: linear-gradient(90deg, rgb(164, 116, 81) 0%, rgb(156, 152, 129) 16.667%, rgb(115, 160, 157) 33.333%, rgb(59, 137, 154) 50%, rgb(9, 91, 121) 66.667%, rgb(0, 40, 71) 83.333%, rgb(0, 1, 22) 100%);


    min-height:80px;

    display: flex;
    justify-content:center ;
    align-items: center;
    
}
nav{
    width: 100%;
    /* padding-right:2rem ; */
}
#navList{
    /* bullets hata dega */
    width: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
    padding: 15px;
     list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items:center;

}
#navLogo{
    font-size: 2.8rem;
    color: aliceblue;
}
a{
    /* underline hatane ke liye */
    text-decoration: none;
    color:aliceblue;
}
.navItems{
    display: flex;
    gap:40px;

}

.footerBox{
    /* background: linear-gradient(45deg, rgb(142, 197, 252) 0%, rgb(141, 211, 255) 25%, rgb(161, 216, 255) 50%, rgb(193, 210, 255) 75%, rgb(224, 195, 255) 100%); */
    background: linear-gradient(90deg, rgb(164, 116, 81) 0%, rgb(156, 152, 129) 16.667%, rgb(115, 160, 157) 33.333%, rgb(59, 137, 154) 50%, rgb(9, 91, 121) 66.667%, rgb(0, 40, 71) 83.333%, rgb(0, 1, 22) 100%);

    
    /* text-align: center; */
    min-height: 40px;
    
    
}
.footerBox p{
    color: rgb(223, 230, 228);
    font-size: 2rem;
    text-align: center;
    
}
.contentBox{
    width: 70%;
    margin: auto;
    /* border: 2px solid black; */
    /* border-radius: 13px; */
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;

   
}

.item{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.rightBox{
    position: relative;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 30px black;
    transition: all 0.6s linear 0s;
  
}

.rightBox img{
    height: 400px;
    width: 300px;
    display: block;
    border-radius: 20px;
    

}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.leftBox h2{
 font-size: 2rem;
}
.ingBox{
    font-size: 1.3rem;
}
.recipeBox{
    font-size: 1.1rem;
}
.rightBox:hover{

    transform: scale(1.1);
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36,34,34,0.713);


    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* ye saari chize nahi dikhnege 0 se */
    opacity: 0;
    
    transition: all 0.3s linear 0s ;
     

}
.rightBox:hover .overlay{
    /*jo chize haiuski vo deikhe color text vagehra */
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}
