
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
     background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
   
    /* background: linear-gradient(to top, #feada6 0%, #f5efef 100%); */
}
.navcontainer{
    width:100vw;
    /* background-color: rgb(109, 109, 206); */
    background: linear-gradient(45deg, rgb(142, 197, 252) 0%, rgb(141, 211, 255) 25%, rgb(161, 216, 255) 50%, rgb(193, 210, 255) 75%, rgb(224, 195, 255) 100%);

    min-height:80px;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
nav{
    width: 100%;
}
#navList{
    /* bullets hata dega */
    width: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
    padding: 15px;
     list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
#navLogo{
    font-size: 2.8rem;
    color: aliceblue;
}
a{
    /* underline hatane ke liye */
    text-decoration: none;
}
.navItems{
    display: flex;
    gap:40px;
}

.footerBox{
    background: linear-gradient(45deg, rgb(142, 197, 252) 0%, rgb(141, 211, 255) 25%, rgb(161, 216, 255) 50%, rgb(193, 210, 255) 75%, rgb(224, 195, 255) 100%);
    
    /* text-align: center; */
    min-height: 40px;
    
    
}
.footerBox p{
    color: rgb(1, 48, 48);
    font-size: 2rem;
    text-align: center;
    
}
.contentBox{
    width: 70%;
    margin: auto;
    border: 2px solid black;
   
}
.leftBox{
    padding: 20px;
}