* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100%;
}

.container {


    max-width: 65vw;
    /* (top,down), (left,right) */
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
}

.header_container {
    margin-bottom: 2.8rem;
}

.header_title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.header_discription {
    max-width: 568px;
    text-align: center;
    color: rgb(93, 84, 84);
    margin: 0 auto;
}

.main_container {

    display: grid;
    justify-content: center;
    gap: 1.5rem;
    /* grid-template-columns: repeat(4, 1fr); */

    /* bina media qurei ke responsive ho gya auto fit min max se */
    grid-template-columns: repeat(auto-fit,minmax(250px,300px));

}

/* @media (min-width:20px) {
    .main_container {
    
    grid-template-columns: repeat(1, 1fr);

}
}

@media (min-width:650px) {
    .main_container {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width:1080px) {
    .main_container {
       
        grid-template-columns: repeat(3, 1fr);

    }
}
@media (min-width:1340px) {
    .main_container {
    
    grid-template-columns: repeat(4, 1fr);

}
 } */

.card_container {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 5px;
    overflow: hidden;
    max-height: 20rem;
   box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.Card_image_container {
    position: relative;
    overflow: hidden;
    height: 11rem;
}
@media (min-width:768px) {
   .Card_image_container{
    height: 14rem;
   } 
} 

.card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card-title_conatiner {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card_container:hover .card_image {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 0.6rem;
    color: rgb(25, 23, 23);

}

.card_title_anchor:hover .card_title {

    color: rgb(91, 91, 177);

}

.card_discription {
    color: rgb(111, 111, 111);
    font-size: 1rem;
}

.card_footer_container {
    display: flex;
    justify-content: space-between;
    padding:0 1.1rem;
    padding-bottom: 1.2rem;
}

.author_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author_avatar_container {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(119, 115, 115);
    border-radius: 50%;
    background-color: rgb(230, 228, 228);
    margin-right: 1rem;
}

.author_info_container {
    display: flex;
    flex-direction: column;

}

.author_name {

    color: rgb(47, 47, 198);
}

.author_date {
    color: rgb(255, 195, 195);
}

.card_tag_caonteiner {
    font-size: 0.5rem;
    border: 1px solid rgb(63, 58, 58);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem .5rem;
    color: brown;
}